.logo-container{
    text-align: center;
}
.logo-container img{
    animation:App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin  {
      from {
          transform: rotate(0);
      }
      to {
          transform: rotate(360deg);
      }
}